#google-map {
    width: 100%;
    height: 342px;
}
.place-popup h4{
    margin:0;
}
@media (min-width: 768px) {
      #inp-distance{
        width:100px;
    }
}
#places-panel .panel-body {
    max-height: 301px;
    overflow-y: auto;
    overflow-x: hidden;
    padding:7px;
}

#places-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#places-results ul li {
    border-top: 1px solid #ddd;
    line-height: 40px;
    cursor:pointer;
}
#places-results ul li.active {
    background:#eee;
}
#places-results ul li:first-child {
    border: none;
}

#places-results li input[type=radio] {
    height: 17px;
    width: 17px;
    display: block;
    float: left;
    margin-top: 10px;
}

#places-results li .logo {
    max-height: 18px;
    margin: 0 5px 5px 5px;
}
#place-details-tabs{
    border-top:1px solid #aaa;
    margin-top:5px;
    padding-top:5px;
}
#place-details-name{
    float:left;
    font-size:18px;
    margin-right:15px;
}
.rating-stars{
    height:30px;
    width:140px;
    background:#6F5499;
    position:relative;
    float:left;
}
.rating-stars .images{
    background:url(images/star.png);
    height:30px;
    width:140px;
    position:absolute;
    top:0;
    left:0;
}
.review-item .rating-stars{
    height:21px;
    width:100px;
}
.review-item .rating-stars .images{
    background-size:20px;
    width:100px;
    height:21px;
}
h5{
    font-weight:bold;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 0px none;
}
#place-details-panel .nav-pills>li.active>a,#place-details-panel .nav-pills>li.active>a:hover,#place-details-panel .nav-pills>li.active>a:focus{
    background:rgba(137, 108, 183,0.7);
}
.place-overview-div{
    margin-bottom:10px;
    float:left;
    width:100%;
}