@using System.Configuration;

@{
    // Code here
}
@section css{
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" type="text/css" />
}
@section javascript{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(ConfigurationManager.AppSettings["GoogleAPIKey"])"></script>
    <script type="text/javascript" src="~/Scripts/validation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Scripts/home.js?ver=2"></script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default search-panel">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <b>Search</b>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <!--<label for="inp-place-name">Place</label>-->
                            <input type="text" class="form-control" id="inp-place-name"
                                   placeholder="Place name" data-pattern-error="Field is requered without special characters.">
                            <span class="help-block with-errors hidden-error">&nbsp;</span>
                        </div>
                        <div class="form-group">
                            <!--<label for="inp-keywords">Keywords</label>-->
                            <input type="text" class="form-control" id="inp-keywords" placeholder="Keywords">
                            <span class="help-block with-errors hidden-error">&nbsp;</span>
                        </div>
                        <div class="form-group">
                            <!--<label for="inp-distance">Distance</label>-->
                            <div class="input-group">
                                <input type="number" min="0.1" class="form-control" id="inp-distance" placeholder="Distance">
                                <div class="input-group-addon">Km</div>
                            </div>
                            <span class="help-block with-errors hidden-error">&nbsp;</span>
                        </div>
                        <div class="form-group">
                            <!--<label for="inp-keywords">Rank by</label>-->
                            <select class="form-control" id="inp-rank-by">
                                <option value="1">Rank by similarity</option>
                                <option value="2">Rank by distance</option>
                            </select>
                            <span class="help-block with-errors hidden-error">&nbsp;</span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-large btn-primary" id="search-places-btn" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                                Search places
                            </button>
                            <span class="help-block with-errors hidden-error">&nbsp;</span>
                        </div>
                        <div class="hidden" id="search-from-rules" data-fillallfieldtext="Please fill all required fields">
                            <input type="hidden" data-controltovalidate="inp-place-name"
                                   data-required="true" data-regex="^([_A-z0-9\s,\'&quote;]){3,50}$"
                                   data-errormessege="No special characters, up to 50"
                                   data-requirederrormessage="Please fill place name" />
                            <input type="hidden" data-controltovalidate="inp-keywords"
                                   data-required="false" data-regex="^([_A-z0-9\s,\'&quote;]){3,50}$"
                                   data-errormessege="No special characters, up to 50" />
                            <input type="hidden" data-controltovalidate="inp-distance"
                                   data-required="true" data-regex="^[0-9]{1,2}[\.]{0,1}[0-9]{0,3}$"
                                   data-errormessege="Only positive numbers"
                                   data-requirederrormessage="Please fill distance" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="places-panel" class="panel panel-default anim-effect">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <b>Found places</b>
                </div>
                <div class="panel-body">
                    <div id="places-results">
                    </div>
                </div>
                <div class="panel-footer anim-effect">
                    <div class="form-inline form-group">
                        <button class="btn btn-large btn-primary disabled" id="search-place-info" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                            Show more information
                        </button>
                        <select class="form-control" id="search-inf-lang">
                            <option value="en">English</option>
                            <option value="iw">עברית</option> 
                            <option value="ru">Russian</option>
                            <option value="ar">العربية</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="map-panel" class="panel panel-default anim-effect">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <b>Places on map</b>
                </div>
                <div class="panel-body">
                    <div id="google-map">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="place-details-panel" class="panel panel-default anim-effect">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <b>Place details</b>
                </div>
                <div class="panel-body">
                    <h4 id="place-details-name">Place name</h4>
                    <div id="place-details-rating-stars" class="rating-stars">
                        <div class="images"></div>
                        &nbsp;
                    </div>
                    <div class="place-overview-div">
                        <label>Overview:&nbsp;</label><span id="place-details-overview">Place oveview</span>
                    </div>
                    <div class="place-overview-div">
                        <label>Overview source url:&nbsp;</label><span id="place-details-source"></span>
                    </div>
                    <ul id="tabs" class="nav nav-pills data-tabs=" tabs">
                        <li class="active"><a href="#tab-general-info" data-toggle="tab">General information</a></li>
                        <li><a href="#tab-reviews" data-toggle="tab">Reviews</a></li>
                        <li><a href="#tab-images" data-toggle="tab">Images</a></li>
                        <li><a href="#tab-videos" data-toggle="tab">Videos</a></li>
                    </ul>
                    <div id="place-details-tabs" class="tab-content">
                        <div class="tab-pane active" id="tab-general-info">
                            <table class="table table-striped">
                                <tr>
                                    <td><label>Rating:</label></td>
                                    <td id="place-details-rating">Rating</td>
                                </tr>
                                <tr>
                                    <td style="width:70px;"><label>Adress:</label></td>
                                    <td id="place-details-address">Adress</td>
                                </tr>
                                <tr>
                                    <td style="width:70px;"><label>Vicinity:</label></td>
                                    <td id="place-details-vicinity">Vicinity</td>
                                </tr>
                                <tr>
                                    <td><label>Phone:</label></td>
                                    <td id="place-details-phone">Phone</td>
                                </tr>
                                <tr>
                                    <td><label>Url/Website:</label></td>
                                    <td id="place-details-url">Url/Website</td>
                                </tr>
                                <tr>
                                    <td><label>Geometry:</label></td>
                                    <td id="place-details-geometry">Geometry</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-reviews">
                            <div id="place-details-reviews">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-images">
                            <div id="place-details-images" class="gallery-collection">
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-videos">
                            <div id="place-details-videos" class="gallery-collection">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="place-template">
    <div>
        <img class="logo" />
        <span class="name"></span>
    </div>
</script>
<input type="hidden" id="api-key" value="@ConfigurationManager.AppSettings["GoogleAPIKey"]" />