<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logInfo" Encoding="utf-8" xsi:type="File" fileName="${basedir}/App_Data/Logs/info.txt" layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}MESSAGE=${message} 
                ${newline}SESSIONID=${aspnet-sessionid} Browser=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}   X-Real-IP=${aspnet-request:serverVariable=HTTP_X-Real-IP}
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${fullurl}
				        ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
				        ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}"  />
      <target name="logTrace"  Encoding="utf-8" xsi:type="File" fileName="${basedir}/App_Data/Logs/trace.txt" layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}MESSAGE=${message} 
                ${newline}SESSIONID=${aspnet-sessionid} Browser=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}   X-Real-IP=${aspnet-request:serverVariable=HTTP_X-Real-IP}
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${fullurl}
				        ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
                ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}"  />
      <target name="logDebug"  Encoding="utf-8" xsi:type="File" fileName="${basedir}/App_Data/Logs/debug.txt" layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}MESSAGE=${message} 
                ${newline}SESSIONID=${aspnet-sessionid} Browser=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}   X-Real-IP=${aspnet-request:serverVariable=HTTP_X-Real-IP}
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${fullurl}
				        ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
                ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}"  />
      <target name="logWarn" xsi:type="File" Encoding="utf-8" fileName="${basedir}/App_Data/Logs/warn.txt" layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${fullurl}
				        ${newline}HTTPS=${aspnet-request:serverVariable=HTTPS}
				        ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}   X-Real-IP=${aspnet-request:serverVariable=HTTP_X-Real-IP}
                ${newline}COOKIES=${aspnet-request:serverVariable=HTTP_COOKIE}
                ${newline}SESSIONID=${aspnet-sessionid}
                ${newline}BROWSER=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}CONTENT TYPE=${aspnet-request:serverVariable=CONTENT_TYPE}
                ${newline}MESSAGE=${message}
                ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}"   />
        <target name="logError" Encoding="utf-8" xsi:type="File" fileName="${basedir}/App_Data/Logs/error.txt"
                 layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${aspnet-request:serverVariable=HTTP_HOST}${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}
                ${newline}HTTPS=${aspnet-request:serverVariable=HTTPS}
                ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}
                ${newline}COOKIES=${aspnet-request:serverVariable=HTTP_COOKIE}
                ${newline}SESSIONID=${aspnet-sessionid}
                ${newline}BROWSER=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}CONTENT TYPE=${aspnet-request:serverVariable=CONTENT_TYPE}
                ${newline}MESSAGE=${message}
                ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}" />
        <target name="logFatal" Encoding="utf-8" xsi:type="File" fileName="${basedir}/App_Data/Logs/fatal.txt"
                 layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${aspnet-request:serverVariable=HTTP_HOST}${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}
                ${newline}HTTPS=${aspnet-request:serverVariable=HTTPS}
                ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST} 
                ${newline}COOKIES=${aspnet-request:serverVariable=HTTP_COOKIE}
                ${newline}SESSIONID=${aspnet-sessionid}
                ${newline}BROWSER=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}CONTENT TYPE=${aspnet-request:serverVariable=CONTENT_TYPE}
                ${newline}MESSAGE=${message} 
                ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}" />
    </targets>
    <rules>
        <logger name="*" level="Info" writeTo="logInfo" />
        <logger name="*" level="Trace" writeTo="logTrace" />
        <logger name="*" level="Debug" writeTo="logDebug" />
        <logger name="*" level="Warn" writeTo="logWarn" />
        <logger name="*" level="Error" writeTo="logError" />
        <logger name="*" level="Fatal" writeTo="logFatal" />
    </rules>
</nlog>