<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/App_Data/Logs/internal_log_file.txt" 
      internalLogLevel="Error">
  <targets async="true">
    <target name="SimpleLog" 
            Encoding="utf-8" 
            xsi:type="File" 
            fileName="${basedir}/App_Data/Logs/${lowercase:${level}}.txt" 
            layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
                ${newline}MESSAGE=${message} 
                ${newline}SESSIONID=${aspnet-sessionid} 
                ${newline}Browser=${aspnet-request:serverVariable=HTTP_USER_AGENT}
                ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}   X-Real-IP=${aspnet-request:serverVariable=HTTP_X-Real-IP}
                ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${fullurl}
				        ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
				        ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}" 
            concurrentWrites="false"
            archiveFileName="${basedir}/App_Data/Logs/archives/${lowercase:${level}}.${shortdate}.{#}.txt" 
            archiveAboveSize="100242880"
            archiveEvery="Month"
            archiveNumbering = "Rolling"
            maxArchiveFiles="5"/>
    <target name="FullLog" 
            xsi:type="File" 
            Encoding="utf-8" 
            fileName="${basedir}/App_Data/Logs/${lowercase:${level}}.txt"
				    layout="##### ${date:format=dd/MM/yyyy HH\:mm\:ss} | ${uppercase:${level}} #####
					      ${newline}REQUEST URI=${aspnet-request:serverVariable=REQUEST_METHOD}: ${fullurl}
					      ${newline}HTTPS=${aspnet-request:serverVariable=HTTPS}
					      ${newline}REFFERER=${aspnet-request:serverVariable=HTTP_REFERER}
					      ${newline}USER IP = ${aspnet-request:serverVariable=REMOTE_HOST}   X-Real-IP=${aspnet-request:serverVariable=HTTP_X-Real-IP}
					      ${newline}COOKIES=${aspnet-request:serverVariable=HTTP_COOKIE}
					      ${newline}SESSIONID=${aspnet-sessionid}
					      ${newline}BROWSER=${aspnet-request:serverVariable=HTTP_USER_AGENT}
					      ${newline}CONTENT TYPE=${aspnet-request:serverVariable=CONTENT_TYPE}
					      ${newline}MESSAGE=${message} 
					      ${onexception:${newline}EXCEPTION\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}" 
            concurrentWrites="false"
            archiveFileName="${basedir}/App_Data/Logs/archives/${lowercase:${level}}.${shortdate}.{#}.txt"
            archiveAboveSize="100242880"
            archiveEvery="Month"
            archiveNumbering = "Rolling"
            maxArchiveFiles="5"/>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="SimpleLog" />
    <logger name="*" level="Trace" writeTo="SimpleLog" />
    <logger name="*" level="Debug" writeTo="SimpleLog" />
    <logger name="*" level="Warn" writeTo="SimpleLog" />
    <logger name="*" level="Error" writeTo="FullLog" />
    <logger name="*" level="Fatal" writeTo="FullLog" />
  </rules>
</nlog>